<div class="container">

  <div class="todo-panel transition">

    <form name="TodoForm">

      <div class="title-container">
        <h1 class="text-muted text-center">Feature</h1>
      </div>


      <div class="todos-container">
          <label for="title">Title</label>
          <input type="text"
               id="title"
               class="form-control input-lg"
               placeholder="Title"
               ng-model="featureCtrl.feature.title"
               name="title"
               maxlength="100"
               ng-maxlength="100"
               ng-minlength="5"
               required/>
               <br/>
      </div>

      <div class="todos-container">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea placeholder="Description" class="form-control" rows="2" id="description" ng-model='featureCtrl.feature.description'></textarea>
        </div>

      </div>

      <div class="todos-container">
        <div class="form-group">
          <label for="variation">Variations</label>

          <!-- <p class="alert alert-info" ng-if="!featureCtrl.feature.variations.length">There are no variations for this feature.</p> -->

            <table class="table table-striped" ng-if="featureCtrl.feature.variations.length">
              <tbody>
                <tr ng-repeat="variation in featureCtrl.feature.variations track by $index | orderBy: '-createdAt'">
                  <td class="text-muted todo-in-todos">
                    <span ng-bind="variation"></span>
                    <div class="todo-done transition"
                         ng-click="featureCtrl.removeVariation(variation)">x</div>
                  </td>
                </tr>
              </tbody>
            </table>

        <div class="input-group">
          <input
            class="form-control input-lg"
            id="variation"
            ng-model='featureCtrl.variation'
            placeholder="Variation Name"></input>
          </br>
          <span class="input-group-btn">
            <button class="btn btn-success btn-lg" type="button" ng-click="featureCtrl.addVariation()" ng-disabled="!featureCtrl.variation">Add</button>
          </span>
        </div>

        <br/ >

        <button class="col-sm-2 btn btn-success" type="button" ng-click="featureCtrl.save()">Save</button>

        <br />

    </form>

  </div>
</div>
