<div class="container">



      <feature-list-container 
          ng-repeat="(section, features) in featureListCtrl.featuresBySection"
          section='section'
          features='features'>

      </feature-list-container>


       <!--  <div class="section col-md-4" ng-repeat="(section, features) in featureListCtrl.features_by_section">
          <h3>{{section}}</h3>
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="feature in features | orderBy: '-createdAt'">
                <td class="text-muted todo-in-todos">
                  <a ng-href="/features/{{feature._id}}">{{feature.title}}</a>
                  <div class="todo-done transition"
                       ng-click="featureListCtrl.deleteFeature(feature._id)">x</div>
                </td>

              </tr>
            </tbody>
          </table>
          <div class="input-group">
            <input type="text"
                 class="form-control input"
                 placeholder="New Feature"
                 ng-model="featureListCtrl.newFeature"
                 name="newSection"
                 maxlength="100"
                 ng-maxlength="100"
                 ng-minlength="5"
                 required
                 autofocus />
                 <br/>
                <span class="input-group-btn">
                <button class="btn btn-success btn" ng-click="featureListCtrl.addFeature()" type="button">Add</button>
                </span>
          </div>
        </div> -->

        <div class="section-new col-md-4">
          <h3 class="text-center">New Section</h3>
          <div class="input-group">
            <input type="text"
                 class="form-control input"
                 placeholder="New Section"
                 ng-model="featureListCtrl.newSection"
                 name="newSection"
                 maxlength="100"
                 ng-maxlength="100"
                 ng-minlength="3"
                 required
                 autofocus />
                 <br/>
            <span class="input-group-btn">
                <button class="btn btn-success btn" ng-click="featureListCtrl.addSection()" type="button">Add</button>
            </span>
          </div>
          <br />
        </div>


        <!-- <p class="alert alert-warning" ng-if='!featureListCtrl.features.length'>No features</p> -->
<!--       <div class="todos-container">

        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="feature in featureListCtrl.features | orderBy: '-createdAt'">
              <td class="text-muted todo-in-todos">
                <a ng-href="/features/{{feature._id}}">{{feature.title}}</a>
                <div class="todo-done transition"
                     ng-click="featureListCtrl.deleteFeature(feature._id)">x</div>
              </td>

            </tr>
          </tbody>
        </table>


      </div> -->

</div>
