
<div class="section col-md-4">
  <h3 class="text-center">{{section}}</h3>

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="feature in features | orderBy: '-createdAt'">
        <td class="text-muted todo-in-todos">
          <a ng-href="/features/{{feature._id}}">{{feature.title}}</a>
          <div class="todo-done transition"
               ng-click="deleteFeature(feature._id)">x</div>
        </td>

      </tr>
    </tbody>
  </table>

  <div class="input-group">
    <input type="text"
         class="form-control input"
         placeholder="New Feature"
         ng-model="newFeature.title"
         name="newFeature.title"
         maxlength="100"
         ng-maxlength="100"
         ng-minlength="5"
         required
         autofocus />
         <br/>
        <span class="input-group-btn">
        <button class="btn btn-success btn" ng-click="addFeature()" type="button">Add</button>
        </span>
  </div>
</div>