.todo-panel {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px rgba(72, 176, 72, 0.49);
  background-color: #fff;
}

.todos-container .form-control {
  font-size: 17px;
  border-radius: 0;
}

.todo-done {
  background-color: rgba(228, 43, 43, 0.72);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  opacity: .7;
  background-color: transparent;
  color: rgba(228, 43, 43, 1);
}

.container {
  padding-top:2em;
}

.footer-container .btn {
  border-radius: 0;
}

.transition {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.error-msg {
  color: red;
}

.table {
  font-size: 1.2em;
}

.home {
  font-size:1.3em;
  padding-left: .5em;
  color: white;
  position:absolute;
  top:0.8em;
}

.header {
  position:relative;
  background-color: #1990CE;
  padding:1em;
}

.header > h3 {
  font-size:1.5em;
  color: #fff;
  margin: 0px;
  margin-left: : -1em;
}

body {
  background: url(../imgs/todo-bkg.png) #fafbfc;
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.section {
  background-color: #eee;
  min-height: 300px;
  border: 3px solid #fafbfc;
  padding-bottom:20px;
    border-radius: 7px;
}
.section-new {
  background-color: #eee;
  min-height: 300px;
  padding-top:60px;
  border: 3px solid #fafbfc;
  padding-bottom:20px;
    border-radius: 7px;
}



.section > h3 {
  color:#555;
}

.section-new > h3 {
  color:#555;
  padding-bottom:20px;
}



